.mdc-card {
    text-align: center;
    padding: 20px;
    height: 100%;
}

.mdc-card:hover {
    box-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

.bioImage {
    width: 90%;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 10px;
}

.mdc-button {
    font-family: inherit;
    height: 40px;
    padding: 5px;
}

.bioContainer {
    width: 20%;
    text-align: center;
    margin: 0 Auto;
}

.bioImageContainer {
    text-align: center;
    object-fit: cover;
}

.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
}

*,
 :after,
 :before {
    /* box-sizing: border-box; */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-shadow: -1px 10px 29px 0px rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3 {
    padding: 10px;
}


/* Resources Page */

.flexbox {
    display: flex;
    /* grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 10px; */
    flex-direction: row;
    height: 500px;
    margin: auto;
    flex-wrap: wrap;
    padding: 20px;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.flexbox>div {
    border: solid;
    margin: 10px;
    width: 30%;
    min-width: 250px;
    height: 55%;
}

.flex-image {
    height: 100%;
    margin: 0;
    padding: 0;
}

.title-in-card {
    position: absolute;
    color: white;
    bottom: 8px;
    z-index: 99;
}

.no-padding {
    padding: 0;
}